@import fonts
@import form
@import ui/card
@import ui/button

body
    background: #ffffff
    padding: 0
    margin: 0
    font-size: 14px
    font-family: 'Nunito', sans-serif


header
    display: flex
    border-bottom: 1px solid #eaeaea
    height: 10vh
    padding: 0 10vw

    .header
        &__logo
            width: 20%
            font-weight: bolder
            font-size: 25px

            img
                height: 100%
                vertical-align: middle

            a
                text-decoration: none
                color: #1e1e1e
        &__user
            width: 20%
            display: flex

            a
                padding: 5px 7px
                border: 3px solid #ea2159
                border-radius: 5px
                text-decoration: none
                color: #ea2159
                font-weight: lighter
                font-size: 25px
                margin-right: 10px

        &__user-name
        &__user-photo

            img
                height: 100%
                vertical-align: middle
    
    nav
        display: flex
        width: 60%

        a
            display: block
            padding: 25px 10px
            color: #1e1e1e
            font-weight: lighter
            text-decoration: none
            border-bottom: 1px solid #ffffff
            font-size: 20px
            text-transform: uppercase

            &:hover
                border-bottom:  1px solid #1e1e1e

main
    padding: 40px 10vw
    display: flex
    min-height: 80vh

    aside
        width: 20%
        padding-right: 5%
    .contetnt
        width: 75%
    
footer
    padding: 5%
    background: #efefef
    color: #1e1e1e

.footer
    &__inner
        max-width: 1000px
        margin: 0 auto
        text-align: center
    &__links
    &__docs
    &__copy 


.game-frame
    border: 0
    width: 100%
    height: 100%
    position: fixed
    background: #000000
    top: 0
    left: 0
    bottom: 0
    right: 0


.text-muted
    color: #6c757d