.button
    padding: 7px 10px
    border-radius: 5px
    outline: none
    font-size: 17px
    font-weight: bold

    &__blue
        color: #ffffff
        background: #38b3ff
    &__green
        color: #ffffff
        background: #70e863
    &__pink
        color: #8c0a0a
        background: #fb004e
    &__gold
        color: #9a6d29
        background: #fbc800
